In [ ]:
#import dataset
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
#importing librairies
import re
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.decomposition import PCA
from ast import IsNot
from unicodedata import numeric
from pandas import read_excel
import sklearn

In [ ]:
VAC = pd.read_excel(r'drive/MyDrive/vaccin_final_date.xlsx')
df=VAC
VAC

,Sessions,Sites,First Dose Administered,Second Dose Administered,Male(Individuals Vaccinated),Female(Individuals Vaccinated),Transgender(Individuals Vaccinated),Covaxin (Doses Administered),CoviShield (Doses Administered),State_Code,State,District_Key,Cowin Key,District,Date
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,AN,Andaman and Nicobar Islands,AN_Nicobars,Nicobar,Nicobars,2021-01-16
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,AN,Andaman and Nicobar Islands,AN_North and Middle Andaman,North and Middle Andaman,North and Middle Andaman,2021-01-17
2,2.0,2.0,23.0,0.0,12.0,11.0,0.0,0.0,23.0,AN,Andaman and Nicobar Islands,AN_South Andaman,South Andaman,South Andaman,2021-01-18
3,28.0,26.0,287.0,0.0,28.0,259.0,0.0,0.0,287.0,AP,Andhra Pradesh,AP_Anantapur,Anantapur,Anantapur,2021-01-19
4,63.0,31.0,424.0,0.0,93.0,331.0,0.0,0.0,424.0,AP,Andhra Pradesh,AP_Chittoor,Chittoor,Chittoor,2021-01-20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
749,1.0,1.0,31.0,0.0,29.0,2.0,0.0,0.0,31.0,WB,West Bengal,WB_Purulia,Purulia,Purulia,2023-02-04
750,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,WB,West Bengal,WB_Birbhum,Rampurhat HD (Birbhum),Birbhum,2023-02-05
751,6.0,6.0,14.0,0.0,4.0,10.0,0.0,0.0,14.0,WB,West Bengal,WB_South 24 Parganas,South 24 Parganas,South 24 Parganas,2023-02-06
752,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,WB,West Bengal,WB_Uttar Dinajpur,Uttar Dinajpur,Uttar Dinajpur,2023-02-07
753,2.0,2.0,62.0,0.0,13.0,49.0,0.0,0.0,62.0,WB,West Bengal,WB_Paschim Bardhaman,West Bardhaman,Paschim Bardhaman,2023-02-08

In [ ]:
df=df.drop('Second Dose Administered',axis=1)
df=df.drop('State',axis=1)
df=df.drop('Sites',axis=1)
df=df.drop('Sessions',axis=1)
df=df.drop('District_Key',axis=1)
df=df.drop('Cowin Key',axis=1)
df=df.drop('District',axis=1)
df=df.drop('Date',axis=1)
df=df.drop('Transgender(Individuals Vaccinated)',axis=1)

In [ ]:
df

,First Dose Administered,Male(Individuals Vaccinated),Female(Individuals Vaccinated),Covaxin (Doses Administered),CoviShield (Doses Administered),State_Code
0,0.0,0.0,0.0,0.0,0.0,AN
1,0.0,0.0,0.0,0.0,0.0,AN
2,23.0,12.0,11.0,0.0,23.0,AN
3,287.0,28.0,259.0,0.0,287.0,AP
4,424.0,93.0,331.0,0.0,424.0,AP
...,...,...,...,...,...,...
749,31.0,29.0,2.0,0.0,31.0,WB
750,1.0,1.0,0.0,0.0,1.0,WB
751,14.0,4.0,10.0,0.0,14.0,WB
752,NaN,NaN,NaN,NaN,NaN,WB
753,62.0,13.0,49.0,0.0,62.0,WB

In [ ]:
df['State_Code'].replace('AN',1,inplace=True)
df['State_Code'].replace('AP',2,inplace=True)
df['State_Code'].replace('AR',3,inplace=True)
df['State_Code'].replace('AS',4,inplace=True)
df['State_Code'].replace('BR',5,inplace=True)
df['State_Code'].replace('CH',37,inplace=True)
df['State_Code'].replace('CT',6,inplace=True)
df['State_Code'].replace('DN',7,inplace=True)
df['State_Code'].replace('DL',8,inplace=True)
df['State_Code'].replace('GA',9,inplace=True)
df['State_Code'].replace('GJ',10,inplace=True)
df['State_Code'].replace('AN',11,inplace=True)
df['State_Code'].replace('HR',12,inplace=True)
df['State_Code'].replace('HP',13,inplace=True)
df['State_Code'].replace('JK',14,inplace=True)
df['State_Code'].replace('JH',15,inplace=True)
df['State_Code'].replace('KA',16,inplace=True)
df['State_Code'].replace('KL',17,inplace=True)
df['State_Code'].replace('LA',18,inplace=True)
df['State_Code'].replace('LD',19,inplace=True)
df['State_Code'].replace('MP',20,inplace=True)
df['State_Code'].replace('MH',21,inplace=True)
df['State_Code'].replace('MN',22,inplace=True)
df['State_Code'].replace('ML',23,inplace=True)
df['State_Code'].replace('MZ',24,inplace=True)
df['State_Code'].replace('NL',25,inplace=True)
df['State_Code'].replace('OR',26,inplace=True)
df['State_Code'].replace('PY',27,inplace=True)
df['State_Code'].replace('PB',28,inplace=True)
df['State_Code'].replace('RJ',29,inplace=True)
df['State_Code'].replace('SK',30,inplace=True)
df['State_Code'].replace('TN',31,inplace=True)
df['State_Code'].replace('TG',32,inplace=True)
df['State_Code'].replace('TR',33,inplace=True)
df['State_Code'].replace('UP',34,inplace=True)
df['State_Code'].replace('UT',35,inplace=True)
df['State_Code'].replace('WB',36,inplace=True)

In [ ]:
df

,First Dose Administered,Male(Individuals Vaccinated),Female(Individuals Vaccinated),Covaxin (Doses Administered),CoviShield (Doses Administered),State_Code
0,0.0,0.0,0.0,0.0,0.0,1
1,0.0,0.0,0.0,0.0,0.0,1
2,23.0,12.0,11.0,0.0,23.0,1
3,287.0,28.0,259.0,0.0,287.0,2
4,424.0,93.0,331.0,0.0,424.0,2
...,...,...,...,...,...,...
749,31.0,29.0,2.0,0.0,31.0,36
750,1.0,1.0,0.0,0.0,1.0,36
751,14.0,4.0,10.0,0.0,14.0,36
752,NaN,NaN,NaN,NaN,NaN,36
753,62.0,13.0,49.0,0.0,62.0,36

In [ ]:
Female_par_rapport_male=[]

for i in range(0,df.shape[0]):
    Female_par_rapport_male.append(0)

df['Vaccin_majoritaire'] = Female_par_rapport_male

for i in range (0,df.shape[0]):
 if df['CoviShield (Doses Administered)'][i]!='nan':
  if df['CoviShield (Doses Administered)'][i]>df['Covaxin (Doses Administered)'][i]:
    df['Vaccin_majoritaire'][i]=1
  if df['CoviShield (Doses Administered)'][i]<df['Covaxin (Doses Administered)'][i]:
    df['Vaccin_majoritaire'][i]=2



df.dropna(axis=0,inplace=True)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]

In [ ]:
df['State_Code'] = df['State_Code'].astype(int)
df=df.drop('CoviShield (Doses Administered)',axis=1)
df=df.drop('Covaxin (Doses Administered)',axis=1)

print(df)
x= df.iloc[:,0:4].values
y= pd.factorize(df['Vaccin_majoritaire'])[0]

print(y)
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x,y, random_state=0)

     First Dose Administered  Male(Individuals Vaccinated)  \
0                        0.0                           0.0
1                        0.0                           0.0
2                       23.0                          12.0
3                      287.0                          28.0
4                      424.0                          93.0
..                       ...                           ...
748                     32.0                          24.0
749                     31.0                          29.0
750                      1.0                           1.0
751                     14.0                           4.0
753                     62.0                          13.0

     Female(Individuals Vaccinated)  State_Code  Vaccin_majoritaire
0                               0.0           1                   0
1                               0.0           1                   0
2                              11.0           1                   1
3                             259.0           2                   1
4                             331.0           2                   1
..                              ...         ...                 ...
748                             8.0          36                   1
749                             2.0          36                   1
750                             0.0          36                   1
751                            10.0          36                   1
753                            49.0          36                   1

[753 rows x 5 columns]
[0 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 0 0 1 1 1 0 0 0 0 0 1 0 0 1 1 0 0 0 0 1
 0 1 0 0 1 1 2 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 2 1 1 1
 1 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 1 1 1 1 1 1 1 1 1 0 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 0 0 0 0 0 0 1 1 0 1 1 1 1 1 1 1 0 1 0 1 1 1 1 1 0 0 0 1
 0 0 0 1 0 1 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 2 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 0 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 0 1 1 1 1 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 1 0 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 2 1 2 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 2 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 1 1 1 1 1 1 1 0 1
 1 1 1 1 1 1 1 1 1 1 1 1 1]

In [ ]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.fit_transform(X_test)

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
error = []
# Calculer l'erreur pour k entre 1 et 40
#Pour chaque itération, l'erreur moyenne pour les valeurs prédites
#de l'ensemble de test est calculée et sauvegardée ds la liste Erreur.
# Tester k de 1 à 40 et la distance Manhattan
for i in range(1, 25):
    knn = KNeighborsClassifier(i,metric='euclidean')
    knn_model = knn.fit(X_train, y_train)
    pred_i = knn_model.predict(X_test)
    error.append(np.mean(pred_i != y_test))
    # Append: add an object to the end of the list
   # mean: retourne= la moyenne arrithmétique des fausses prédictions (somme des erreurs sur total)
print(error)

[0.037037037037037035, 0.042328042328042326, 0.042328042328042326, 0.0582010582010582, 0.042328042328042326, 0.042328042328042326, 0.042328042328042326, 0.047619047619047616, 0.047619047619047616, 0.05291005291005291, 0.06349206349206349, 0.06878306878306878, 0.06878306878306878, 0.06878306878306878, 0.06878306878306878, 0.07407407407407407, 0.05291005291005291, 0.05291005291005291, 0.047619047619047616, 0.047619047619047616, 0.047619047619047616, 0.047619047619047616, 0.047619047619047616, 0.047619047619047616]

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(3)
knn_model = knn.fit(X_train, y_train)
y_pred_knn = knn_model.predict(X_test)
u=knn.score(X_test, y_test)
print(u)

classes={0:'egalité',1:'Covishield',2:'Covix'}
x=np.array([80,80,0,3]).reshape(1,4)
pred=knn.predict(x)
print(classes[pred[0]])

0.9576719576719577
Covishield